<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProductCatalog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark-sm mb-3 mt-3 bg-dark">
            <div class="container-fluid mb-3 mt-3 d-flex justify-content-around">

                <a class="navbar-link btn btn-outline-light" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>

                <a class="navbar-link btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>


                <a class="navbar-link btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                <partial name="_LoginPartial" />

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom bg-dark text-center text-light">
        <div class="container">
            &copy; 2023 - Ticketing System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
